/* body, html {
    height: 100%;
    margin: 0;
  } */
  
  .userContainer {
    background-color: whitesmoke;
    height: 100vh;

  }
  .card {
    background-color: white; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    margin-top: 5px;
  }
  .breadcrumb {
  float:right;
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.breadcrumb-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumb-item:hover {
  color: blue;
}

.breadcrumb-item.active {
  color: blue; 
  font-weight: 600; 
}